body {
    /* position: relative; */
}
/* skip to content */
a.skip {
    background-color: white;
    padding: 5px;
    /* -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out; */
    z-index: 1;
    position: absolute;
    top: -500px;
    left: -500x;
}
.skip:focus {
    top:20px;
    left: 10px;
    text-align: left;
}
/* main */
main {
    min-height: 800px;
}
h1 {
    grid-column: 3 / 4;
    text-align: center;
    color: #000;
    font-size: 2.5em;
}
/* Music Boundary page header with background image */
#pageheader {
    background-image: url("../images/home.jpeg");
    background-color: white;
    padding: 100px;
    margin: 5px;
    width: 25vw;
    grid-column: 2 / 5;
    border: 5px solid #2C66C6;
    justify-self: center;
    text-align: center;
    color: rgb(0, 162, 255);
}
/* Industry page header with background image */

#industryheader {
    background-image: url("../images/blackwhiterecordplayer.jpeg");
    background-size: 450px;
    padding: 100px;
    margin: 5px;
    width: 25vw;
    grid-column: 2 / 5;
    border: 5px solid #2C66C6;
    justify-self: center;
    text-align: center;
    color: rgb(0, 162, 255);
}
/* grid container for body- includes images and text */
.bodyContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    row-gap: 15px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Paragraphs/main text */
h2 {
    font-size: 1.3em;
    text-decoration: underline;
    grid-column: 2 / 4;
}
p {
    line-height: 1.2em;
    text-align: justify;
    text-indent: 35px;
    grid-column: 2 / 5;

}
/* Nav Bar*/
nav h1 {
    color: white;
}

.navbar {
    width: 100%;
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.navbar ul {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 35%;
}
.navbar h1{
    font-size: 90px;
    font-family: 'Pacifico', cursive;
}
.navlist {
    list-style-type: none;

}
.navlist li {
    display: block;
    padding: 20px 10px;
    border-top: 1px solid white;
    width: 100%;
    text-align: center;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.navbar a:hover {
    color: red;
}
.primary-icon {
    height: 30px;
}

/* footer */
footer {
    width: 100%;
    background-color: #000;
    color: white;
}
footer ul {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
footer a:hover {
    color: white;
}
footer a:visited{
    color: lightblue;

}
.fa-regularfa-envelope {
    color: white;
}


/* Grid/Indie Gallery */
.galleryContainer {
    background-color: grey;
    justify-items: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    padding: 10px;
}
.gallery {
    grid-column: 2 / 4;
    display: inline-block;
    max-height: 80vh;
    margin: 0px;
    border: 5px solid #2C66C6;
    padding: 5px;
    background-color: white;
    width: 90%;
}
/* nth child images put into one column, then put others into another column or could make ids */
img.gallery:hover {
    background-color: #2C66C6;
    border: 4px solid white;
}

/* Flex/Pop Gallery */
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: grey;
    padding: 10px;
}
img.gallery:hover {
    background-color: #2C66C6;
    border: 4px solid white;
}
.flexGallery {
    max-height: 60vh;
    max-width: 80vw;
    margin: 2.5px;
    border: 5px solid #2C66C6;
    padding: 5px;
    background-color: white;
}

/* contact page */
/* Artist Spotlight/Extra */
.slider {
    width: 75%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    margin: auto;
}
  
.slides {
    display: flex;
    overflow: auto;

    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;

    scroll-snap-align: start;
    flex-shrink: 0;

    width: 100%; 
    height: 50vh;
    margin-right: 30px;
    border-radius: 10px;
    background: black;
    position: relative;
}
/* lightbox */
.images {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.caption {
    font-size: 1.5rem;
    text-indent: 0px;
    color: white;
    position: absolute;
    bottom: 30px;
    background-color: #000;
    padding: 5px;
}
.hidden {
    display: none;
}

  /* Buttons to pick slide */
.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}
.slider > a:focus {
    background: lightgrey;
  }
form {
    margin: auto;
}
/* flip Card */
.card {
    width: 40vw;
    height: 10vh;
    perspective: 500px;
    grid-column: 2/5;
    background-color: #000;
    margin: auto;
    text-align: center;
    vertical-align: center;
}
.cardContent {
    width: 40vw;
    height: 10vh;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card:hover .cardContent {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}
.card:focus .cardContent {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}
.cardFront, .cardBack {
    position: absolute;

    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    backface-visibility: hidden;
}
.cardFront {
    background-color: #2C66C6;
}
.cardBack {
    background: #2C66C6;
    color: white;
    transform: rotateY( 180deg );
}
p.card {
    color: white;
}


h2.contact {
    text-align: center;
}
div.contact {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
}
div.contact form {
    grid-column: 2/3;
}
input {
    margin: 5px;
}

/* form {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
/* form {
    display: block;
    position: relative;
    left: 25%;
    text-align: center;
} */
input[type=text] {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding: 10px;
    grid-column: 1/3;
    /* width: 50vw;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; */
}
#logo {
    display: block;
    margin: auto;
    width: 35vw;
    animation-name: logoAnimation;
    animation-duration: 5s;
}
@keyframes logoAnimation {
    from {width: 0vw; opacity:0;}
    to {width: 35vw; opacity:1;}
}


/* media queries */
@media screen and (prefers-reduced-motion: reduce){
    /*Turn off transition*/
    #logo {
      -webkit-transition: initial; /* sets to default setting */
      /* transition: initial; sets to default setting */
      animation: initial;
    }
    a.skip {
        -webkit-transition: initial;
        transition: initial;
    }
    .cardContent {
        width: 40vw;
        height: 25vh;
        transform: none;
        transition: none;
    }
    .slides {
        -webkit-overflow-scrolling: unset;
    }

  }
/* larger than mobile */
@media only screen and (min-width: 700px) {
    .navbar {
        flex-direction: row;
    }
    /* Grid Gallery */
    .galleryContainer {
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-rows;
        justify-items: center;
        align-items: center;
        row-gap: 5px;
    }
    #i1 {
        display: block;
        grid-column: 2/6;
        grid-row: 1/2;
    }
    #i2 {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    #i3 {
        grid-column: 4/6;
        grid-row: 2/3;
    }
    #i4 {
        grid-column: 2/6;
        grid-row: 3/4;
    }
    #i5 {
        grid-column: 2/4;
        grid-row: 4/5;
    }
    #i6 {
        grid-column: 4/6;
        grid-row: 4/5;
    }
    #i7 {
        grid-column: 2/6;
        grid-row: 5/6;
    }
    #i8 {
        grid-column: 4/6;
        grid-row: 6/7;
    }
    #i9 {
        grid-column: 2/4;
        grid-row: 6/7;
    }
    
    /* Flex/Pop Gallery */
    .flexContainer {
        display: flex;
        flex-wrap:wrap-reverse;
        /* justify-items: ; */
        justify-content:center;
        /* align-items: stretch; */
        padding: 10px;
    }
    .flexGallery {
        max-height: 40vh;
        max-width: 70vw;
        margin: 2.5px;
        border: 5px solid #2C66C6;
        padding: 5px;
        background-color: white;
    }
    #f3, #f4, #f5 {}
}
@media only screen and (min-width: 1000px) {
    /* Grid Gallery */
    .galleryContainer {
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    }
    #i1 {
        display: block;
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #i2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #i3 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    #i4 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    #i5 {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    #i6 {
        grid-column: 4/5;
        grid-row: 4/5;
    }
    #i7 {
        grid-column: 3/4;
        grid-row: 5/6;
    }
    #i8 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    #i9 {
        grid-column: 4/5;
        grid-row: 6/7;
    }
    /* Flex/Pop Gallery */
    .flexContainer {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
    }
    .flexGallery {
        max-height: 40vh;
        max-width: 70vw;
        margin: 2.5px;
        border: 5px solid #2C66C6;
        padding: 5px;
        background-color: white;
    }
}